html {
  font-size: 62.5%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 1rem;
}
header,
section,
footer {
  padding: 1rem;
  border: solid gray 1px;
  border-style: dotted;
}
section h1,
p {
}
h1 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
}
img {
  margin-top: 1rem;
  max-width: 100%;
}
